@import "colors.css"; 

/*
   Styling for the main article section.

   Some common elements are:

     - title
     - summary / synopsis box
     - body text
     - quoted block
     - poetry block

*/

#articlebody {
  overflow-y: scroll;
}

.article {
  display: block;
  position:relative;
  width: 100%;

  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 16px;
  font-style: normal;
  color: var(--dark-cerulean);
  background: var(--wispy-blue);
}

.article h1 {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size   : 48px;
  font-style: normal;
  text-align: center;
}

.article h2 {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size   : 28px;
  font-style: normal;
  text-align: left;
  text-indent : 0.25em;
}

.article p {
  text-indent : 0.75em;
  margin-top: 0.6em;  
  margin-bottom: 0.6em;
}

.article p,
.article li {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 20px;
  font-style: normal;
  text-align: left;
}

.date {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size   : 16px;
  text-align: right;
  color: var(--light-blue-grey)
}

/* Table cells */
.article td {
  vertical-align: top;
}

/* Matthew and the Law of Christ table */

.matthew th {
  background-color: #606080;
  color: white;
}

.matthew tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.matthew th:nth-child(1), table.matthew th:nth-child(2) {
  text-align: center;
}

table.matthew td:nth-child(1), table.matthew td:nth-child(2) {
  text-align: center;
}

/* Creation Chronology Table */

.creation th {
  background-color: #606080;
  color: white;
}

.creation tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.creation th:nth-child(1), table.creation th:nth-child(2), table.creation th:nth-child(5), table.creation th:nth-child(6) {
  text-align: center;
}

table.creation td:nth-child(1), table.creation td:nth-child(2), table.creation td:nth-child(5), table.creation td:nth-child(6)  {
  text-align: center;
}

/* Clock Summary Table */

/* Columns: generation number, start and end years, Bible verse references and prophetic interpretation */

.clocksummary th {
  background-color: #606080;
  color: white;
}

.clocksummary tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.clocksummary th:nth-child(1), table.clocksummary th:nth-child(2) {
  text-align: center;
}

table.clocksummary td:nth-child(1), table.clocksummary td:nth-child(2)  {
  text-align: center;
}

/* Abraham's Sojourn Table */

.sojourn th {
  background-color: #606080;
  color: white;
}

.sojourn tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.sojourn th:nth-child(1) {
  text-align: center;
}

table.sojourn td:nth-child(1)  {
  text-align: center;
}

/* Revelation 10 table */

.revelation10 th {
  background-color: #606080;
  color: white;
}

.revelation10 tr:nth-child(even) {
  background-color: #f0f0ff;
}

/* Psalms to Revelation Comparison table */

.psalms-to-revelation th {
  background-color: #606080;
  color: white;
}

.psalms-to-revelation tr:nth-child(even) {
  background-color: #f0f0ff;
}

/* 
   Poetry

   Use h4, h5, and h6 heading styles for indented, double-indented and triple-indented lines
   of poetry, respectively.

   The poetry lines must be inside a div with class="article".
*/
.article h4 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 2.5em;
  margin-bottom: -4px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1pt;
}
.article h5 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 4em;
  margin-bottom: -12px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 3pt;
}
.article h6 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 5.5em;
  margin-bottom: -4px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1pt;
}

/*
  Synopsis box
*/

.synopsis { 
  display: block;
  position:relative;

  border: 2px solid var(--chiffon); 
  width: 94%; 
  left: 3%;
  box-sizing: border-box; 
  padding: 1rem; 
  color: var(--coral-blue);
  background-color: var(--dark-cerulean);

  font-size   : 18px;
  text-align: left; 
} 

/*
  Images in articles that should be horizontally centered.
*/
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* Adjust as needed */
  height: auto;
}

/*
  Image stripe placed to the right of a Number.
*/
div.numbered-image {
  position: relative; 
  display: flex; 
  align-items: center;
}

img.numbered-image {
  width: 95%; 
  height: auto;
}

p.numbered-image {
  margin-left: 5px; 
  margin-right: 20px; 
  font-size: 100px;
}
