@import "colors.css"; 

/*
   Styling for the main article section.

   Some common elements are:

     - title
     - summary / synopsis box
     - body text
     - quoted block
     - poetry block

*/

#articlebody {
  overflow-y: scroll;
}

.article {
  display: block;
  position:relative;
  width: 100%;

  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 16px;
  font-style: normal;
  color: var(--dark-cerulean);
  background: var(--wispy-blue);
}

.article h1 {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size   : 48px;
  font-style: normal;
  text-align: center;
}

.article h2 {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size   : 28px;
  font-style: normal;
  text-align: left;
  text-indent : 0.25em;
}

.article p {
  text-indent : 0.75em;
  margin-top: 0.6em;  
  margin-bottom: 0.6em;
}

.article p,
.article li {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 20px;
  font-style: normal;
  text-align: left;
}

.date {
  font-family: Optima, Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size   : 16px;
  text-align: right;
  color: var(--light-blue-grey)
}

/* Indent and italicize quoted text */
div.quote {
  text-indent: 10px;
  font-style: italic;
}

/* Table cells */
.article td {
  vertical-align: top;
}

/* Matthew and the Law of Christ table */

.matthew th {
  background-color: #606080;
  color: white;
}

.matthew tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.matthew th:nth-child(1), table.matthew th:nth-child(2) {
  text-align: center;
}

table.matthew td:nth-child(1), table.matthew td:nth-child(2) {
  text-align: center;
}

/* Matthew's Monthly Planner */

.planner th {
  background-color: #606080;
  color: white;
}

.planner tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.planner th:nth-child(1), table.planner th:nth-child(2), table.planner th:nth-child(3) {
  text-align: center;
}

table.planner td:nth-child(1), table.planner td:nth-child(2), table.planner td:nth-child(3) {
  text-align: center;
}

/* Proverbs Clock */

table.proverbs-clock {
  width: 90%;
  background-color: var(--pale-sky-blue);
  border-collapse: collapse;
  border-width: 0px;
  border-color: #7EA8F8;
  border-style: dashed;
  color: #174DB9;
  font-size   : 14px;
}

table.proverbs-clock td, table.proverbs-clock th {
  border-width: 0px;
  border-color: #7EA8F8;
  border-style: dashed;
  padding: 5px;
}

table.proverbs-clock thead {
  background-color: #BCE2F8;
}


/* Hannah's Prophetic Clock Table */

.hannah th {
  background-color: #606080;
  color: white;
}

.hannah tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.hannah th:nth-child(1), table.matthew th:nth-child(2), table.matthew th:nth-child(3) {
  text-align: center;
}

table.hannah td:nth-child(1), table.matthew td:nth-child(2), table.matthew td:nth-child(3) {
  text-align: center;
}


/* Creation Chronology Table */

.creation th {
  background-color: #606080;
  color: white;
}

.creation tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.creation th:nth-child(1), table.creation th:nth-child(2), table.creation th:nth-child(5), table.creation th:nth-child(6) {
  text-align: center;
}

table.creation td:nth-child(1), table.creation td:nth-child(2), table.creation td:nth-child(5), table.creation td:nth-child(6)  {
  text-align: center;
}


/* End Times Table */

.end-times th {
  background-color: #606080;
  color: white;
}

.end-times tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.end-times th:nth-child(1), table.creation th:nth-child(2) {
  text-align: left;
}

table.end-times td:nth-child(1), table.creation td:nth-child(2) {
  text-align: left;
}

/* Growth Pattern for Women */

table.growth {
  border: 1px solid #FFFFFF;
  width: 95%;
  height: 600px;
  border-collapse: collapse;
}

table.growth, table.growth p {
  font-family: Georgia, serif;
  text-align: center;
}

table.growth li {
  font-size: 12px;
  font-family: Georgia, serif;
  text-align: left;
}

table.growth td, table.growth th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.growth tbody td, table.growth tbody td p {
  font-size: 13px;
  line-height: 1em;
}
table.growth tr:nth-child(even) {
  background: var(--wispy-blue);
}
table.growth tr:nth-child(odd) {
  background: var(--sea-mist);
}
table.growth thead {
  background: #0B528D;
  border-bottom: 5px solid #FFFFFF;
}
table.growth thead th {
  font-size: 17px;
  font-weight: bold;
  color: var(--dark-cerulean);
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.growth thead th:first-child {
  border-left: none;
}

table.growth tfoot td {
  font-size: 14px;
}

/* Clock Summary Table */

/* Columns: generation number, start and end years, Bible verse references and prophetic interpretation */

.clocksummary th {
  background-color: #606080;
  color: white;
}

.clocksummary tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.clocksummary th:nth-child(1), table.clocksummary th:nth-child(2) {
  text-align: center;
}

table.clocksummary td:nth-child(1), table.clocksummary td:nth-child(2)  {
  text-align: center;
}

/* Abraham's Sojourn Table */

.sojourn th {
  background-color: #606080;
  color: white;
}

.sojourn tr:nth-child(even) {
  background-color: #f0f0ff;
}

table.sojourn th:nth-child(1) {
  text-align: center;
}

table.sojourn td:nth-child(1)  {
  text-align: center;
}

/* Revelation 10 table */

.revelation10 th {
  background-color: #606080;
  color: white;
}

.revelation10 tr:nth-child(even) {
  background-color: #f0f0ff;
}

/* Psalms to Revelation Comparison table */

.psalms-to-revelation th {
  background-color: #606080;
  color: white;
}

.psalms-to-revelation tr:nth-child(even) {
  background-color: #f0f0ff;
}

/* 
   Poetry

   Use h4, h5, and h6 heading styles for indented, double-indented and triple-indented lines
   of poetry, respectively.

   The poetry lines must be inside a div with class="article".
*/
.article h4 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 2.5em;
  margin-bottom: -4px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1pt;
}
.article h5 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 4em;
  margin-bottom: -12px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 3pt;
}
.article h6 {
  font-family : Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size   : 14px;
  font-style: italic;
  text-indent : 5.5em;
  margin-bottom: -4px;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1pt;
}

/*
  Synopsis box
*/

.synopsis { 
  display: block;
  position:relative;

  border: 2px solid var(--chiffon); 
  width: 94%; 
  left: 3%;
  box-sizing: border-box; 
  padding: 1rem; 
  color: var(--coral-blue);
  background-color: var(--dark-cerulean);

  font-size   : 18px;
  text-align: left; 
} 

/*
  Images in articles that should be horizontally centered.
*/
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* Adjust as needed */
  height: auto;
}

/*
  Images in articles that should be almost full width.
*/
img.wide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%; /* Adjust as needed */
  height: auto;
}

/*
  Image stripe placed to the right of a Number.
*/
div.numbered-image {
  position: relative; 
  display: flex; 
  align-items: center;
}

img.numbered-image {
  width: 95%; 
  height: auto;
}

p.numbered-image {
  margin-left: 5px; 
  margin-right: 20px; 
  font-size: 100px;
}

/* Centered Pull-quote */

div.pullquote-centered, .pullquote-centered p { 
  padding: 8px 20px; 
}

div.pullquote-centered {
  text-align: center;
  margin-bottom: 1em; 
}

.pullquote-centered p {
  width: 100%;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

  font-weight: bold;
  font-style: italic;
  color: var(--flat-blue);
  margin-bottom: -0.25em;  
  margin-top: 0.25em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .pullquote-centered p {
    font-size: 18px;
  }
} 

@media only screen and (min-device-width : 481px) and (max-device-width : 600px) {
  .pullquote-centered p {
    font-size: 20px;
  }
}

@media only screen and (min-device-width : 601px) and (max-device-width : 800px) {
  .pullquote-centered p {
    font-size: 24px;
  }
}

@media only screen and (min-device-width : 801px) and (max-device-width : 1200px) {
  .pullquote-centered p {
    font-size: 28px;
  }
}

@media only screen and (min-device-width : 1201px) {
  .pullquote-centered p {
    font-size: 36px;
  }
}

/* Hiding answers to riddles until user clicks. */

details.spoiler summary::after {
  content: var(--hidden);
  filter: blur(4px);
  display: block;
}

details[open] summary::after {
  display: none;
}

/* List of sections that link to places on the page */

div.sections {
  margin: 10px;
  border: 2px dashed var(--section-box);
  padding: 10px;
  background-color: var(--section-interior);
}

/* A summary box */

div.summary {
  margin: 10px;
  border: 2px dashed var(--section-box);
  padding: 10px;
  background-color: var(--summary-interior);
}

/* Era Description Box */

div.era {
  width: 45%;
  margin: 10px;
  border: 2px dashed var(--section-box);
  padding: 10px;
  background-color: var(--section-interior);
}

.era p {
  width: 100%;
  font-weight: bold;
  font-style: normal;
  color: var(--flat-blue);
  margin-bottom: -0.1em;  
  margin-top: 0.1em;
}

/* Pagefind searchable area */

main.searchable{
  margin: 0px;
  padding-bottom : 0rem;
  color: var(--dark-cerulean);
  background: var(--wispy-blue);
}
