/* Header, Footer and General Page styling */
@import "colors.css"; 
    
    .header-colors {
      color: var(--sea-mist);
      background:  var(--book-blue);
    }
    
    .header {
      display: flex;
      height: 250px;
      width: 100%;
      margin-top: 10px;
      justify-content: left;
    }

    .quote {
      color                    : var(coral-blue);
      font-family              : Optima, Helvetica, Arial, sans-serif;
      font-weight              : 200;
      font-size                : 32px;

      position: absolute; 
      top:      50px;
      right:    200px;
    }

    .site-title {
      font-family              : Helvetica, Arial, sans-serif;
      font-weight              : 800;
      font-size                : 56px;
    }


    .footer {
      display: flex;
      height: 100px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: center;
    }
    
    h3.text {
      text-align: center;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around; 
      flex-wrap: wrap;
      height: 1770px;
      background: whitesmoke;
    }
/*
    .body {
      display: flex;
      position: relative;
      height: 1750px;
      flex-grow: 1;
      margin-top: 10px;
      margin-bottom: 10px;
    }
*/
    .body-wide {
      display: block;
      position: relative;
      height: 1750px;
      width: var(--body-wide-width);
      margin-left: var(--body-left-margin);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .body-narrow {
      display: block;
      position: relative;
      height: 1750px;
      width: var(--body-narrow-width);
      margin-left: var(--body-left-margin);
      margin-top: 10px;
      margin-bottom: 10px;
    }

    /*
      Tooltips
    */
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
      z-index: 10;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 80px;
      background-color: var(--dark-cerulean);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 10;
      top: -5px;
      left: 105%;

      font-size: 16px;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
