/*
From this article by Kate Morley: https://iamkate.com/code/tree-views/

This can be used to style unordered lists to be expandable and collapsible without using
Javascript.
*/


@import "colors.css"; 


/*  SITE  */

/*  Original colors
:root{
  --width      : 36;
  --rounding   : 4px;
  --accent     : #696;
  --dark-grey  : #ddd;
  --grey       : #eee;
  --light-grey : #f8f8f8;
}
*/

*,
::before,
::after{
  box-sizing : border-box;
  margin     : 0;
}

html{
  height                   : 100%;
  font-family              : Helvetica, Arial, sans-serif;
  font-weight              : 300;
  font-size                : clamp(16px, 100vw / var(--width), 18px);
  font-feature-settings    : 'onum','pnum';
  line-height              : 1.5;
  -webkit-text-size-adjust : none;
  text-size-adjust         : none;
}

body{
  display            : grid;
  grid-template-rows : max-content 1fr max-content;
  height             : 100%;
  background         : var(--accent);
  color              : #fff;
}

main{
  padding-bottom : 1rem;
  background     : #fff;
  color          : #000;
}


#leftsidebar h1,
#leftsidebar p,
/* #leftsidebar ul, This line breaks TOC line placement */
main > div{
  max-width  : calc(1rem * var(--width));
  margin     : 0 auto;
  padding    : 1rem 1rem 0;
}

#leftsidebar h1
{
  font-weight : 400;
  line-height : 1.1;
}

#leftsidebar h1{
  font-size : 2rem;
}

/*
These two rules broke the TOC line placement! Leave out.

#leftsidebar ul{
  padding : 1rem 2rem 0 3rem;
}

#leftsidebar ul ul{
  padding : 0 0 0 1rem;
}
*/


#leftsidebar abbr{
  font-variant   : small-caps;
  text-transform : lowercase;
}

#leftsidebar img,
#leftsidebar svg{
  vertical-align : bottom;
}

#leftsidebar img{
  max-width : 100%;
  height    : auto;
}

.highlight > div{
  background    : var(--tree-background);
  overflow      : hidden;
  padding-right : 0.8rem;
  border-radius : var(--rounding);
}




/*  TREE  */

.tree-padding{
  --spacing    : 1.5rem;
  --radius     : 10px;
  padding-left : 1rem;
}

.tree-padding li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree-padding ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree-vertical-lines ul li{
  border-left : 2px solid var(--tree-line);
}

.tree-vertical-lines ul li:last-child{
  border-color : transparent;
}

.tree-horizontal-lines ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid var(--tree-line);
  border-width : 0 0 2px 2px;
}

.tree-summaries summary{
  display : block;
  cursor  : pointer;
}

.tree-summaries summary::marker,
.tree-summaries summary::-webkit-details-marker{
  display : none;
}

.tree-summaries summary:focus{
  outline : none;
}

.tree-summaries summary:focus-visible{
  outline : 1px dotted #000;
}

.tree-markers li::after,
.tree-markers summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : var(--tree-leaf);
}

.tree-buttons summary::before{
  z-index    : 2;
  background : var(--accent) url('expand-collapse.svg') 0 0;
}

.tree-buttons details[open] > summary::before{
  background-position : calc(-2 * var(--radius)) 0;
}
